.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

#myBtn {
  /* display: none; Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(30, 22, 144); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0%;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* My Kopi Section */

.kopi-box {
  position: relative;
  background-color: #cfcd52;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
  /* overflow: hidden; */
}

.kopi-box::before {
  content: "Kopi";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  transform: translate(-50%, 0);
  left: 50%;
  opacity: 0;
  transition: 0.5s;
}

.kopi-box:hover::before {
  opacity: 0.2;
}

.kopi-box::after {
  content: "Hari Hari Ngopi";
  position: absolute;
  color: #fff;
  font-size: 2.1em;
  font-weight: bold;
  font-style: italic;
  top: 395px;
  left: 58%;
  transform: translate(-50%, -0);
  opacity: 1;
  transition: 0.5s;
}

.kopi-box:hover::after {
  opacity: 0.2;
}

.kopi-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(0, 0, 50px);
}

.kopi-box:hover .kopi-name {
  top: 20px;
  opacity: 1;
}

.kopi-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.kopi-box:hover .kopi-detail-button {
  opacity: 1;
  bottom: 20px;
}

.kopi-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -52%, 80px);
  max-width: 350px;
  transition: 0.5s;
}

.kopi-box:hover .kopi-img {
  transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}
